body {
  font: normal 18px/1.5 "Times New Roman", "Times", serif;
  background: #f37eb9;
  color: #fff;
  padding: 50px 0;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0;
}

.flex-outer,
.flex-inner {
  padding: 0;
}

.flex-outer {
  max-width: 800px;
  margin: 0;
  padding: 0px 16px;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 8px;
  justify-content: space-between;  
}


.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  font-weight: 300;
  margin-bottom: 20px;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 125px;
  max-width: 225px;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 225px;
}

.flex-outer li p {
  flex: 1 0 125px;
  max-width: 225px;
  margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  padding: 15px;
  border: none;
}

.flex-outer li button {
  margin-left: 0px;
  padding: 6px 12px;
  border: none;
  background: rgb(182, 138, 72);
  color: #f2f2f2;
  border-radius: 3px;
  text-transform: uppercase;
}

.flex-inner li {
  width: 80px;
}